.homepage__header {
	& .header__container {
		background: $black;
		@include breakpoint(medium) {
			background: $black;
		}
	}

}

.header {
	&__site-title {
		font-size: rem-calc(22);
		font-size: calc(22px + 14 * ((100vw - 320px) / (1024 - 320)));
		text-transform: none;
		@include breakpoint(large) {
			font-size: rem-calc(36);
		}
	}
}

#uiowa-bar #uiowa-search .links a{

	font-size: 20px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "proxima-nova-condensed"	
}

.division-bar__link:after{
	opacity: 1;
	transform: translateY(0);
	visibility: visible
}